<!--box button exportar cartola -->
<div class="box-button-planilla">
  <br>
  <div class="row">
    <div class="btn-col col-2">
      <a class="btn btn-outline-success" href="#" role="button">
        <i class="fas fa-download"></i> Exportar Cartola Mensual</a>
    </div>
  </div>
  <br>
</div>
<!--box button exportar cartola -->

<!--cartola mensual -->
<br>
<article class="cuadro-resumen neutro col-lg-12 col-md-12 col-sm-12 mt-30">
  <header class="cuadro-resumen__head">
    <h3>Detalle Cartola Mensual / </h3>

    <h5 class="pull-right">Fecha de Emisión {{date}}</h5>
  </header>

  <div class="row">
    <section class="col-lg-12 col-md-12 col-sm-12">
      <div class="cuadro-resumen__body col-lg-12 col-md-12 col-sm-12 border-right">
        <div class="row border-bottom">
          <div class="col-lg-6 col-md-6 col-sm-6 border-right">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 cuadro-resumen_box">
                <span>Nº de Asociados</span>
              </div>
              <div class="cuadro-resumen_box cuadro-resumen_box--text-right col-lg-6 col-md-6 col-sm-6">
                <h6 class="text-cartola">650</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 border-right">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 cuadro-resumen_box">
                <span>Ingreso total Mensual</span>
              </div>
              <div class="cuadro-resumen_box cuadro-resumen_box--text-right col-lg-6 col-md-6 col-sm-6">
                <h6 class="text-cartola">$000.000</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- -->
        <div class="row border-bottom">
          <div class="col-lg-4 col-md-4 col-sm-4 border-right">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 cuadro-resumen_box">
                <span>Ingreso Total por PAC</span>
              </div>
              <div class="cuadro-resumen_box cuadro-resumen_box--text-right col-lg-6 col-md-6 col-sm-6">
                <h6 class="text-cartola">$000.000</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 border-right">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 cuadro-resumen_box">
                <span>Ingreso Total por PAT</span>
              </div>
              <div class="cuadro-resumen_box cuadro-resumen_box--text-right col-lg-6 col-md-6 col-sm-6">
                <h6 class="text-cartola">$000.000</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 cuadro-resumen_box">
                <span>Ingresos Manuales</span>
              </div>
              <div class="cuadro-resumen_box cuadro-resumen_box--text-right col-lg-6 col-md-6 col-sm-6">
                <h6 class="text-cartola">$000.000</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- -->

      </div>
    </section>
  </div>
</article>