<h4 style="float:right">Valor UF hoy: <b class="text-success">{{valoruf| currency}}</b></h4>
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{'active': pagos.currentYear == item.year}" ng-repeat="item in pagos.periodos">
            <a href="#" data-key="periodo-year-{{$index}}" aria-controls="periodo-year-{{$index}}" role="tab" data-toggle="tab">{{item.year}}</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" ng-class="{'active': pagos.currentYear == item.year}" id="periodo-year-{{$index}}" ng-repeat="item in pagos.periodos">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{'active': pagos.tabMonthActive == $index}" ng-repeat="month in item.months">
                    <a href="#" ng-click="pagos.tabMonthActive = $index" role="tab" data-toggle="tab">{{month}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" ng-class="{'active': pagos.tabMonthActive == $index}" ng-repeat="month in item.months">
                    <h3>Previsualización de datos a cargar:</h3>
                    <button ng-if="item.months[item.months.length - 1] == month" class="btn btn-sm btn-primary" ng-click="showModal(page.fields)">
                        <i class="glyphicon glyphicon-cloud-upload"></i> Subir archivo excel del mes
                    </button>
                    <button class="btn btn-sm btn-primary" ng-if="uploaded_csv.length > 0">
                        <i class="glyphicon glyphicon-ok-sign"></i> Confirmar datos
                    </button>

                    <table class="table table-striped table-hover" ng-if="page.collection == 'pagos'">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Titular</th>
                                <th>RUN</th>
                                <th>Dirección</th>
                                <th>Código</th>
                                <th>Tarifa sin IVA</th>
                                <th>Estado de pago</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="items in uploaded_csv| startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                                <td class="text-danger">{{$index + 1}}</td>
                                <td ng-repeat="(key,item) in items" ng-if="key != 'status'">
                                    <span class="text-success" ng-if="key == 'tarifa'">{{(valoruf * item) + servicios.total | currency}}</span>
                                    <span ng-if="key != 'tarifa'">{{item}}</span>
                                </td>
                                <td ng-repeat="(key,item) in items" ng-if="key == 'status'">
                                    <select>
                                        <option value="Pendiente" ng-selected="item == 'Pendiente'">Pendiente</option>
                                        <option value="Pagado" ng-selected="item == 'Pagado'">Pagado</option>
                                        <option value="Revisar" ng-selected="item == 'Revisar'">Revisar</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>