<div class="container-fluid" ng-if="pages">
    <h4 ng-if="page.collection == 'modelos' || page.collection == 'servicios'" style="float:right">Valor UF hoy: <b class="text-success">{{valoruf| currency}}</b></h4>
    <h1>
        <i class="{{page.icon}}"></i> {{page.name}}
        <button ng-if="session.type == 'Administrador' && page.collection != 'pagos'" class="btn btn-sm btn-primary" ng-click="showModal(page.fields)">
            <i class="glyphicon glyphicon-plus-sign"></i> Crear nuevo
        </button>
        <button ng-if="session.type == 'Administrador' && page.collection == 'asociados' || page.collection == 'pagos'" class="btn btn-sm btn-primary" ng-click="showModal(page.fields)">
            <i class="glyphicon glyphicon-plus-sign"></i> Exportar registros
        </button>
    </h1>
    <div class="form-group" ng-if="page.collection != 'pagos'">
        <label class="sr-only" for="buscador"></label>
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            <input placeholder="Buscar aquí" type="text" class="form-control" ng-keyup="search()" ng-model="page.filter.value" id="buscador">
        </div>
    </div>
    <b class="text-primary" ng-if="registros">Mostrando {{registros}} registros.</b>

    <div ng-include="'templates/app-pagos.html'" ng-if="page.collection == 'pagos'"></div>
    <div ng-include="'templates/app-list-items.html'" ng-if="page.collection != 'pagos'"></div>

    <nav class="text-center" ng-if="pagination.numPages > 1">
        <ul class="pagination">
            <li><a href="javascript:" ng-click="pagination.toPageId(0)"><i class="glyphicon glyphicon-fast-backward"></i></a></li>
            <li><a ng-hide="pagination.page == 0" href="javascript:" ng-click="pagination.prevPage()"><i class="glyphicon glyphicon-arrow-left"></i></a></li>
            <li ng-repeat="n in []| range: pagination.numPages" ng-class="{active: n == pagination.page}" ng-if="(pagination.page + 10) >= n && (pagination.page - 10) < n">
                <a href="javascript:" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
            </li>
            <li><a ng-hide="pagination.page + 1 >= pagination.numPages" href="javascript:" ng-click="pagination.nextPage()"><i class="glyphicon glyphicon-arrow-right"></i></a></li>
            <li><a href="javascript:" ng-click="pagination.toPageId(pagination.numPages - 1)"><i class="glyphicon glyphicon-fast-forward"></i></a></li>
        </ul>
    </nav>

</div>