<nav id="navbar-example2" class="navbar navbar-inverse bg-success" ng-if="session">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <a class="navbar-brand" style="padding:0 20px" href="javascript:">
            <img width="100" src="/logo.png" />
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">          
        <ul class="nav navbar-nav">
            <li ng-class="{'active':index == pageIndex}" ng-repeat="(index,item) in pages">
                <a ng-click="load(item, index)" href="javascript:">
                    <i class="{{item.icon}}"></i> {{item.name}}</a>
            </li>
        </ul>
        <!--navbar right-->
        <ul class="nav navbar-nav navbar-right">
            <!--<li class="active">
                <a href="javascript:">
                    {{session.name}} {{session.email}}
                </a>
            </li>-->
            <li>
                <a href="javascript:" ng-click="closeSession()">
                    <i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>