<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal" ng-submit="sendForm()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalEditLabel"><b><i class="{{page.icon}}"></i> {{page.name}}</b></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-repeat="(key,item) in fields" ng-class="{'hidden':item.edit.hidden, 'hidden': item.type == 'hidden'}">
                        <label for="{{item.name}}" class="col-sm-2 control-label" ng-if="item.name != '_id' && !item.hiddenedit">
                            <i class="glyphicon glyphicon-asterisk input-required-asterisk" ng-if="item.required"></i>
                            <span ng-if="item.type != 'title'">{{item.title}}</span>
                        </label>
                        <div class="col-sm-10" ng-if="item.type == 'title'">
                          <h3 style="color:green">{{item.title}}</h3>
                        </div>
                        <div class="col-sm-10" ng-if="item.type != 'title'">

                            <textarea ng-model="item.value" ng-if="item.type == 'textarea'" name="{{item.name}}" id="{{item.name}}" class="form-control" placeholder="Escriba aquí"></textarea>

                            <input ng-model="item.value" type="text" class="form-control" name="{{item.name}}" id="{{item.name}}" ng-if="item.type == 'rut'" placeholder="Escriba aquí" ng-rut rut-format="live"/>

                            <input id="inputfile" ng-if="item.type == 'file'" style="display:none" multiple ng-model="item.value" type="file" nv-file-select uploader="uploader" onchange="angular.element(this).scope().onUploadSelect()" name="{{item.name}}" id="{{item.name}}" placeholder="Escriba aquí"/>
                            <a href="javascript:" ng-click="selectFile()" ng-if="item.type == 'file'" class="btn btn-primary">Seleccionar Archivo(s)</a>
                            <div ng-if="item.type == 'file' && readyToUpload">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th ng-show="uploader.isHTML5">Tamaño</th>
                                            <th>Progreso</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td><strong>{{ item.file.name}}</strong></td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress progress-striped active" style="margin-bottom: 0;">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td ng-show="!uploader.isHTML5">
                                                {{item.progress}}%
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Subir
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> Remover
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                    <span class="glyphicon glyphicon-upload"></span> Subir todos
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <input ng-class="{'hidden':item.name == '_id'}" ng-model="item.value" type="{{item.type}}"
                                class="form-control" name="{{item.name}}" id="{{item.name}}"
                                ng-if="item.type != 'uf' && item.name != '_id' && item.type != 'textarea' && item.type != 'checkbox' && item.type != 'question' && item.type != 'select' && item.type != 'rut' && item.type != 'file' && !item.hiddenedit"
                                placeholder="Escriba aquí" ng-required="{{item.required}}">

                            <div ng-if="item.type == 'question'"><div ng-include="'templates/app-preguntas.html'"></div></div>

                            <input ng-keypress="validateUF($event)" ng-model="item.value" type="text" class="form-control" name="{{item.name}}" id="{{item.name}}" ng-if="item.type == 'uf'" placeholder="Valor UF aquí" ng-required="{{item.required}}">

                              <label ng-if="item.type == 'password'">
                                <input ng-model="pagos.randomPassCheckboxValue" ng-click="pagos.randomPassCheckbox(key,item)" type="checkbox"/> Crear y enviar una contraseña aleatoria
                              </label>

                            <select id="select-{{item.name}}" onchange="angular.element(this).scope().chosenSelect(this)" data-placeholder="Seleccione" class="form-control chosen-select" ng-if="item.type == 'select' && item.multiple" multiple="multiple" ng-model="item.value">
                                <option value="{{option.key}}" ng-repeat="option in item.data.options" ng-if="item.data">{{option.value}}</option>
                            </select>
                            <select onchange="angular.element(this).scope().onChangeSelect(this)" data-placeholder="Seleccione" class="select form-control {{item.onselect}}" ng-if="item.type == 'select' && !item.multiple" ng-model="item.value">
                                <option value="">Seleccione</option>
                                <option value="{{option.key}}" ng-repeat="option in item.data.options" ng-if="item.data">{{option.value}}</option>
                            </select>



                              <div ng-if="item.type == 'file' && item.value !='-'">
                                <br>
                                <h4 class="text-info">Documentos cargados</h4>
                                <table class="table">
                                  <tbody>
                                    <tr ng-repeat="file in item.value">
                                      <td>{{file}}</td>
                                      <td>
                                        <a class="btn btn-xs btn-success" ng-click="pagos.descargarDocumento(file, fields)"><i class="glyphicon glyphicon-download"></i> Descargar</a>
                                        <a class="btn btn-xs btn-danger" ng-click="pagos.eliminarDocumento(file, fields)"><i class="glyphicon glyphicon-remove"></i> Eliminar</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
