<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th ng-if="session.type == 'Administrador'"></th>
            <th style="white-space:nowrap" ng-repeat="field in page.fields" ng-if="field.name != '_id' && !field.hiddenlist">{{field.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(index,trdata) in tabledata| startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
            <td><b class="text-danger">{{trdata.index}}</b></td>
            <td ng-if="key == '_id' && session.type == 'Administrador'" ng-repeat="(key,tddata) in trdata">
                <button class="btn btn-success btn-xs" ng-click="showModal(page.fields, trdata)"><i class="glyphicon glyphicon-edit"></i> Editar</button>
                <button ng-if="page.collection != 'asociados'" class="btn btn-danger btn-xs" ng-click="dropItem(page.fields, trdata)"><i class="glyphicon glyphicon-remove-circle"></i> Eliminar</button>

                <button ng-if="page.collection == 'asociados' && trdata.activo" class="btn btn-warning btn-xs" ng-click="suspenderAsociado(trdata)"><i class="glyphicon glyphicon-remove"></i> Suspender</button>
                <button ng-if="page.collection == 'asociados' && !trdata.activo" class="btn btn-info btn-xs" ng-click="activarAsociado(trdata)"><i class="glyphicon glyphicon-ok"></i> Activar</button>

                <button ng-if="page.collection == 'encuestas'" class="btn btn-info btn-xs" ng-click="encuestas.enviar(tddata)"><i class="glyphicon glyphicon-envelope"></i> Enviar encuesta</button>
            </td>
            <td ng-repeat="(key,tddata) in trdata" ng-if="key != '_id' && key != 'index' && key != 'password' && key != 'activo'">
                <span ng-if="key == 'run'">{{::tddata| rut}}</span>
                <span ng-if="key == 'fecha_ingreso'">{{::tddata| date}}</span>
                <span ng-if="key == 'tipo_casa'">{{::tddata | tipo_casa}}</span>
                <span ng-if="key == 'preguntas'">{{::tddata | preguntas}}</span>
                <span ng-if="key != 'run' && key != 'fecha_ingreso' && key != 'tipo_casa' && key != 'preguntas'">{{::tddata}}</span>
                <span class="text-success" ng-if="trdata.type == 'UF' && key == 'valor'">{{tddata| convert2UF|currency}}</span>
            </td>
        </tr>
    </tbody>
</table>
