<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{'active': pagos.tabYearActive == $index}" ng-repeat="item in pagos.periodos">
            <a href="#" ng-click="pagos.tabYearActive = $index" role="tab" data-toggle="tab">{{item.year}}</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" ng-class="{'active': pagos.tabYearActive == $index}" id="periodo-year-{{$index}}" ng-repeat="item in pagos.periodos">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{'active': pagos.tabMonthActive == $index}" ng-repeat="month in item.months">
                    <a href="#" ng-click="pagos.changeTab($index, item.year, month)" role="tab" data-toggle="tab">{{month}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" ng-class="{'active': pagos.tabMonthActive == $index}" ng-repeat="month in item.months">
                    <h3>Registros de {{month}}:</h3>
                    <div ng-if="session.type != 'Contable'">
                        <button class="btn btn-sm btn-primary" ng-click="showModalImportPagos(page.fields, null, {month: month, year: item.year})">
                            <i class="glyphicon glyphicon-cloud-upload"></i> Subir archivo excel de {{month}}
                        </button>
                        <button class="btn btn-sm btn-primary" ng-click="pagos.notificarContador(month, item.year)">
                            <i class="glyphicon glyphicon-copy"></i> Notificar al contador
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="form-group" style="margin-top:10px;">
            <label class="sr-only" for="buscador"></label>
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input placeholder="Buscar aquí" type="text" class="form-control" ng-keyup="pagos.search()" ng-model="page.filter.value" id="buscador">
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                  <th colspan="2"></th>
                    <th ng-repeat="field in page.fields track by field.name" ng-if="field.name != '_id'">
                        <span ng-if="session.type != 'Contable'">{{field.title}}</span>
                        <span ng-if="session.type == 'Contable' && field.name != 'nombre' && field.name != 'log'">{{field.title}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(index,trdata) in tabledata  | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage track by trdata._id">
                    <!--<td ng-repeat="(key,tddata) in trdata" ng-if="key != '_id' && key != 'month' && key != 'year' && key != 'type' && key != 'debe' && key != 'haber'">

                        {{tddata.totalpesos| currency}}

                        <span ng-class="{'text-danger':key == 'index'}" ng-if="key != 'tarifa' && session.type != 'Contable'">{{tddata}}</span>
                        <span class="text-danger" ng-if="session.type == 'Contable' && key == 'index'">{{trdata.index}}</span>
                        <span ng-if="(key == 'run' || key == 'codigo') && session.type == 'Contable'">{{tddata}}</span>
                    </td>
                    <td ng-repeat="(key,item) in trdata" ng-if="key == 'type'">
                        <div ng-repeat="field in page.fields track by field.name" ng-if="field.name == 'type'" style="float:left">
                            <select ng-model="item" ng-change="pagos.changeStatus(item, trdata)">
                                <option ng-repeat="option in field.data.options" value="{{option.value}}" ng-selected="item == option.value">{{option.key}}</option>
                            </select>
                        </div>
                        <button style="float:left;margin-left:5px;" class="btn btn-default btn-xs" ng-click="pagos.modalEditarDetalles(trdata)">
                            Documentos y comentarios
                        </button>
                        <div style="clear:both"></div>
                    </td>
                    <td ng-repeat="(key,item) in trdata" ng-if="key == 'debe' || key == 'haber'">{{item| currency}}</td>-->
                    <td ng-repeat="(key, tddata) in trdata">
                      <span class="text-danger" ng-if="key == 'index'"><b>{{tddata}}</b></span>
                      <span ng-if="key == 'id'"><b>{{tddata}}</b></span>
                      <span ng-if="key == 'nombre' || key == 'run' || key == 'codigo' || key == 'comentarios'">{{tddata}}</span>
                      <span  ng-if="key == 'tarifa'">
                          <b class="text-info" ng-if="tddata.total">
                            {{tddata.totalpesos | currency}}
                            <span class="text-success"> ({{tddata.total}} UF)</span>
                          </b>
                          <span ng-if="!tddata.total">-</span>
                      </span>
                      <span ng-if="key == 'type'">
                        <span ng-if="tddata == 'No importado'">{{tddata}}</span>
                        <span ng-if="tddata != 'No importado'">
                          <div ng-repeat="field in page.fields track by field.name" ng-if="field.name == 'type'" style="float:left">
                              <select ng-model="tddata" ng-change="pagos.changeStatus(tddata, trdata)">
                                  <option ng-repeat="option in field.data.options" ng-if="option.value != 'No importado'" value="{{option.value}}" ng-selected="tddata == option.value">{{option.key}}</option>
                              </select>
                          </div>
                        </span>
                      </span>
                      <span class="text-info" ng-if="key == 'pagado'">{{tddata | currency}}</span>
                      <span class="text-warning" ng-if="key == 'excedentes' && tddata != '-'">{{tddata | currency}}</span>
                      <span class="text-warning" ng-if="key == 'excedentes' && tddata == '-'">{{'0' | currency}}</span>
                      <span class="text-danger" ng-if="key == 'debe' && tddata != '-'">{{(valoruf.replace(',','.')-0)*(tddata-0) | currency}}</span>
                      <span ng-if="key == 'debe' && tddata == '-'">-</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
