/*estilos jvdehesa*/

/*Header*/
/*content*/
/*----tables-----*/
.box-tables{
    width: 100%;
    overflow: auto;
}
.thead-junta{
    color: #ffffff;
}
.table td, .table th {
    padding: 15px 10px !important;
    font-size: 13px;
    font-weight: lighter;
}
.days-table-box{
    width: 7%;
}
.pay-table-box{
    width: 25%;
}
.button-box{
    width: 5%;
}
.days-input{
    width: 100%;
    padding: 5px 10px !important;
    font-size: 13px;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.estado-select{
    width: 100%;
}
.btn-table{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color:#ffffff !important;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*modales*/
.box-comment-list{
    background: #f5f5f5;
    padding: 10px;
    font-size: 12px;
    border-radius: .25rem;
    margin: 8px 0;
}
.date-comment{
    font-weight: bold;
}
/*Tabs*/
.nav-link-junta {
    display: block;
    padding: 0.9rem 2rem !important;
    color:#ccc;
}
.cuadro-resumen__head h3, .cuadro-resumen__head h5, .cuadro-resumen__head h6 {
    display: inline-block;
}
.cuadro-resumen_box {
    display: box;
    display: flex;
    min-height: 45px;
    padding: 20px;
    font-size: 13px;
}
.text-cartola{
    font-size: 13px;
}
.neutro {
    background-color: #eeeef1;
    color: #333334;
}
.cuadro-resumen__body {
    background-color: #fff;
    border: 1px solid #cfcfd2;
    margin-bottom: 25px;
}
.cuadro-resumen__head h3{
    font-size: 20px;
    padding: 25px 0; 
}
.cuadro-resumen__head h5{
    font-size: 13px;
}
.border-right {
    border-right: 1px solid #cfcfd2!important;
}
.border-bottom {
    border-bottom: 1px solid #cfcfd2!important;
}
.border-top{
    border-bottom: 1px solid #cfcfd2!important;
}
.border-left{
    border-bottom: 1px solid #cfcfd2!important;
}
/*footer*/