<div class="box-table">
  <div class="box-tables">
    <table class="table">
      <thead class="bg-success thead-junta">
        <tr>
          <th class="button-box"></th>
          <th class="button-box"></th>
          <th class="button-box"></th>
          <th>NºSocio (ID)</th>
          <th>CI</th>
          <th>Primer Nombre</th>
          <th>Segundo Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Email 1</th>
          <th>Email 2</th>
          <th>Telefono 1</th>
          <th>Telefono 2</th>
          <th>Primer Nombre</th>
          <th>Segundo Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Email 1</th>
          <th>Email 2</th>
          <th>Telefono 1</th>
          <th>Telefono 2</th>
          <th>Nombre de Calle</th>
          <th>nº Calle</th>
          <th>Tarifa de pago (UF)</th>
          <th>Tipo de Pago</th>
          <th>Banco</th>
        </tr>
      </thead>
      <tbody>
        <!--tr asociado-->
        <tr class="asociado-list">
          <td>
            <a class="btn btn-success" href="#" role="button">
              <i class="fas fa-users"></i>
            </a>
          </td>
          <td>
            <a class="btn btn-warning" href="#" role="button">
              <i class="fas fa-low-vision"></i>
            </a>
          </td>
          <td>
            <a class="btn btn-danger" href="#" role="button">
              <i class="fas fa-user-times"></i>
            </a>
          </td>
          <td>1</td>
          <td>11.111.111-1</td>
          <td>Primer Nombre</td>
          <td>Segundo Nombre</td>
          <td>Primer Apellido</td>
          <td>Segundo Apellido</td>
          <td>Email 1</td>
          <td>Email 2</td>
          <td>Telefono 1</td>
          <td>Telefono 2</td>
          <td>Primer Nombre</td>
          <td>Segundo Nombre</td>
          <td>Primer Apellido</td>
          <td>Segundo Apellido</td>
          <td>Email 1</td>
          <td>Email 2</td>
          <td>Telefono 1</td>
          <td>Telefono 2</td>
          <td>Nombre de Calle</td>
          <td>nº Calle</td>
          <td>1,2</td>
          <td>PAT</td>
          <td>BancoChile</td>
        </tr>
        <!--tr asociado-->
      </tbody>
    </table>
  </div>
</div>