<div class="box-month">
  <form>
    <div class="row">
      <div class="select-month col-md-3">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
            <option class="disable">Seleccionar Año</option>
            <option>2017</option>
          </select>
        </div>
      </div>
      <div class="select-month col-md-3">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
            <option class="disable">Seleccionar Mes</option>
            <option>Enero</option>
            <option>Febrero</option>
            <option>Marzo</option>
            <option>Abril</option>
            <option>Mayo</option>
            <option>Junio</option>
            <option>Julio</option>
            <option>Agosto</option>
            <option>Septiembre</option>
            <option>Octubre</option>
            <option>Noviembre</option>
          </select>
        </div>
      </div>
      <div class="select-month btn-filter col-md-3">
        <a class="btn-table btn-success" data-toggle="modal">
          Filtrar
        </a>
      </div>
    </div>
  </form>
</div>