<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link-junta nav-link" id="pagos-tab" data-toggle="tab" href="#pagos" role="tab" aria-controls="pagos"
      aria-selected="true">
      <i class="fas fa-file-excel"></i> Planilla Cobro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link-junta nav-link" id="cxc-tab" data-toggle="tab" href="#cxc" role="tab" aria-controls="cxc">
      <i class="fas fa-money-bill-alt"></i> Costos por cobrar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link-junta nav-link" id="cxc-tab" data-toggle="tab" href="#ingresomanual" role="tab" aria-controls="ingresomanual"
      aria-selected="false">
      <i class="fas fa-sign-language"></i> Ingresos Manuales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link-junta nav-link" id="cxc-tab" data-toggle="tab" href="#detallecobro" role="tab" aria-controls="detallecobro"
      aria-selected="false">
      <i class="fas fa-file-alt"></i> Detalle Mensual</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <!-- tab pagos-->
  <div class="tab-pane fade show active" id="pagos" role="tabpanel" aria-labelledby="pagos-tab">
    <app-planilla></app-planilla>
  </div>
  <!-- tab cxc-->
  <div class="tab-pane fade show" id="cxc" role="tabpanel" aria-labelledby="cxc">
    <app-costos></app-costos>
  </div>
  <!-- tab pagos manuales-->
  <div class="tab-pane fade show" id="ingresomanual" role="tabpanel" aria-labelledby="ingresomanual">
    <app-ingreso></app-ingreso>
  </div>

  <!-- tab detalles cartola-->
  <div class="tab-pane fade show" id="detallecobro" role="tabpanel" aria-labelledby="detallecobro">
    <app-detalle></app-detalle>
  </div>
</div>