<!--box button menu planilla -->
<div class="box-button-planilla">
  <br>
  <div class="row">
    <div class="btn-col col-2">
      <a class="btn btn-outline-success" href="#" role="button">
        <i class="fas fa-upload"></i> Subir Cartola</a>
    </div>
  </div>
</div>
<!--end box button menu planilla -->
<br>
<div class="row box-table">
  <table class="table">
    <thead class="bg-success thead-junta">
      <tr>
        <th>Titulo</th>
        <th>Fecha</th>
        <th class="button-box"></th>
        <th class="button-box"></th>
        <th class="button-box"></th>
      </tr>
    </thead>
    <tbody>
      <!--tr asociado-->
      <tr class="asociado-list">
        <td>Cartola mensual titulo</td>
        <td>dd/mm/aaaa</td>
        <td>
          <a class="btn-table btn-success" data-toggle="modal" href="#">
            <i class="fas fa-download"></i>
          </a>
        </td>
        <!--modal comentarios-->
        <div class="modal fade" id="modalcomentarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <i class="fas fa-comment-alt"></i> Comentarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-success">Agregar Comentario</button>
                </form>
                <!--lista comentarios anteriores-->
                <br>
                <hr>
                <div class="title-box">
                  <h6>Comentarios Anteriores</h6>
                </div>
                <!--box-list-->
                <div class="box-comment-list">
                  <div class="date-comment">{{Username}} -
                    <small>dd/mm/aaaa</small> dijo:</div>
                  <div class="text-comment">Lorem ipsum dolor sit amet, lorem ipsum.</div>
                </div>
                <!--box-list-->
                <div class="box-comment-list">
                  <div class="date-comment">{{Username}} -
                    <small>dd/mm/aaaa</small> dijo:</div>
                  <div class="text-comment">Lorem ipsum dolor sit amet, lorem ipsum.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--modal archivos-->
        <div class="modal fade" id="modalarchivos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <i class="fas fa-file-alt"></i> Subir Archivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
            </div>
          </div>
        </div>
        <!--modal contacto-->
        <div class="modal fade" id="modalcontacto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <i class="fas fa-address-card"></i> Contacto Asociados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="contacto-dates">
                  <strong>Nombre:</strong> {{nameasociado}}
                  <br>
                  <strong>Teléfono 1:</strong> {{telefono}}
                  <br>
                  <strong>Teléfono 2:</strong> {{telefono}}
                  <br>
                  <br>
                  <button type="button" class="btn btn-success">
                    <i class="fas fa-envelope"></i> Notificar por email</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tr>
      <!--tr asociado-->
    </tbody>
  </table>
</div>