.animate{
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}
.animate.ng-enter{
    margin-top:30px;
    opacity:0;
}
.animate.ng-enter-active{
    transition-delay: 0.5s;
    margin-top:0;
    opacity:1;
}
.animate.ng-leave{
    margin-top:0;
    opacity:1;
}
.animate.ng-leave-active{
    margin-top:30px;
    opacity:0;
}
.fadein{
    /*transition: ease-in-out 0.5s;*/
    opacity:1;
}
.command-bg{
    background-color: #ffffe3;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
}
.command-item-bg{
    background-color: white;
    border: 1px solid #eaeaea;
    margin: 2px 0;
    border-radius: 4px;
}
.command-item-bg .textgray{
    color: #ccc;
    font-size: 11px;
    padding: 4px 10px;
}
.command-item-bg .padding{
    padding: 4px;
}
#inputCommand{
    width:500px;
}
.command-bg .command-item-bg{
    clip:rect(0px, 0px, 0px, 0px);
    overflow: hidden;
}
.command-bg .command-item-bg .margin-top-hidden{
    margin-top:-56px;
    background-color: red;
}
.command-bg .command-item-bg .margin-top-visible{
    margin-top:0px;
    background-color: white;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease-in;
}
.tt-menu{
    background-color:white;
    border-color:gray;
    border-radius: 3px;
    box-shadow: 0 3px 5px black;
    width:100%;
}
.tt-cursor{
    background-color:#29ABE0;
    color:white;
}
.popover-content{
    width:300px;
}
.commandInfo{
    padding: 2px 10px;
    font-size: 11px;
}
.progress-command{
    height:8px;
    margin-top:6px;
    margin-bottom:0;
}